# Demographic Data Analyzer

In this project, I decided to make the codes work in only one line. This reduces the readability of the code. Nevertheless, I wanted the challenge of understanding of how the functions work. The recurring challenge I have during coding is not knowing how where to place the functions to make them work. For instance, I could simply append `.round()`or envelop the rest with it. I give an example below where both produces the same result.

`print(df.education.value_counts(normalize=True).round(2))`
`print(round(df.education.value_counts(normalize=True), 2))`

I also do not know when to use brackets or parentheses. Another challenge is knowing where to place the arguments within nests. This challenges point to my deficiency in understanding how each function works, the valid arguments in each function, and the general syntax.

I made different approaches to writing the codes. I found that there are many ways to produce similar (e.g., producing a series instead of a single value) and exact results. However, this created confusion on the syntaxes of each function. In the following code cells, I will try describing how I think the codes work.

In [1]:
# Import pandas library
import pandas as pd

#### Data Importing and Exploration

In [41]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head() # Get preview of the dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [39]:
# Get info about number of entries, column names, and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

#### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
# In the race column, count each unique values.
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

#### What is the average age of men?

In [142]:
# In the filtered dataframe where sex = Male, find the mean of the age column, and then round to the nearest tenth.
average_age_men = df['age'][df.sex == 'Male'].mean().round(1)
average_age_men

39.4

#### What is the percentage of people who have a Bachelor's degree?

The following solution creates a series, and I cannot figure out yet how to round the values. My initial approach was to append `.round()` at the end, but I know this is not quite right. I checked online resources, and I saw that you can envelop everything in round(). My difficulty throughout this project was not knowing where to place the functions.

In [38]:
# First solution
# In the filtered dataframe where education = Bachelors, count the total number of items in the education column.
# Divide by the total number of items in the education column of an unfiltered dataframe. Then, multiply by 100.
# I realized that this is too complicated, and I could have also used len(df).
percentage_bachelors = df['education'][df.education == 'Bachelors'].value_counts()/df['education'].value_counts().sum()*100
print(percentage_bachelors)
type(percentage_bachelors) # This includes index name, and I only need the value

education
Bachelors    16.446055
Name: count, dtype: float64

pandas.core.series.Series

In [22]:
# I figured out how to round the value, but it was still in a series
percentage_bachelors = round(df.education[df.education == 'Bachelors'].value_counts()/len(df)*100, 1)
percentage_bachelors

education
Bachelors    16.4
Name: count, dtype: float64

In [53]:
# This is another solution that I was not able do initially
'''
percentage_bachelors = round(df.education.value_counts('education', normalize=True)['Bachelors']/len(df)*100, 1)
percentage_bachelors # TypeError: IndexOpsMixin.value_counts() got multiple values for argument 'normalize'
'''
# This is the fixed code that works.
# In the education column, with the total count scaled to 1, find the proportion belonging to Bachelors.
# Multiply by 100 to get percentage. Then, round to nearest tenth. 
percentage_bachelors = round(df['education'].value_counts(normalize=True)['Bachelors']*100, 1)
print(percentage_bachelors)

# This also works.
# In the education column, count the number of Bachelors. 
# Multiply by 100 to get percentage. Then, round to nearest tenth. 
percentage_bachelors = round(df.education.value_counts('education')['Bachelors']*100, 1)
print(percentage_bachelors) # This automatically produces a proportion value

16.4
16.4

In [63]:
# Either of this variation does not work
# I cannot understand yet why, but I'll revisit it next time.
percentage_bachelors = round(df.value_counts('education')['Bachelors']*100, 1)
print(percentage_bachelors)

percentage_bachelors = round(df.education.value_counts()['Bachelors']*100, 1)
print(percentage_bachelors)

# Similar to the just the total number of bachelors
percentage_bachelors = df['education'].value_counts()*100
print(percentage_bachelors)

535500
535500
education
HS-grad         1050100
Some-college     729100
Bachelors        535500
Masters          172300
Assoc-voc        138200
11th             117500
Assoc-acdm       106700
10th              93300
7th-8th           64600
Prof-school       57600
9th               51400
12th              43300
Doctorate         41300
5th-6th           33300
1st-4th           16800
Preschool          5100
Name: count, dtype: int64

In [64]:
# This is the code I used when the test_module.py gave an okay.
# In the education column, with the total count scaled to 1, calculate the proportion of each unique values.
# Locate the value indexed by Bachelors.
# Multiply by 100 to get percentage. Then, round to nearest tenth. 
percentage_bachelors = round(df.education.value_counts(normalize=True).loc['Bachelors']*100, 1)
percentage_bachelors

16.4

#### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [117]:
# This is one of my initial approach. 
# The resulting code ended up being too complicated for me, so I took a different approach.
# This is also the time I have not yet realized the code in the main.py requires a line to create a filtered dataframe.
# I was trying to fit everything in one line.
'''
higher_education = (df[(df.salary == '>50K') & (df.education.isin(['Bachelors', 'Masters', 'Doctorate']))])
higher_education.head()
'''

"\nhigher_education = (df[(df.salary == '>50K') & (df.education.isin(['Bachelors', 'Masters', 'Doctorate']))])\nhigher_education.head()\n"

In [106]:
# Create filtered dataframe containing entries only for people with advanced education.
higher_education = df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [107]:
# In the filtered dataframe, count the number of values = ">50k" in the salary column.
# Multiply by 100 to get percentage. Then, round to the nearest tenth.
higher_education_rich = round(higher_education.value_counts('salary', normalize=True)['>50K']*100, 1)
higher_education_rich

46.5

In [ ]:
# This is my initial solution using only one line
higher_education_rich = round(df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])].value_counts('salary', normalize=True)['>50K']*100, 1)
higher_education_rich

46.5

#### What percentage of people without advanced education make more than 50K?

In [112]:
# Create filtered dataframe containing entries only for people without advanced education.
lower_education = df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [114]:
# In the filtered dataframe, count the number of values = ">50k" in the salary column.
# Multiply by 100 to get percentage. Then, round to the nearest tenth.
lower_education_rich = round(lower_education.value_counts('salary', normalize=True)['>50K']*100, 1)
lower_education_rich

17.4

In [ ]:
# This is my initial solution using only one line
lower_education_rich = round(df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])].value_counts('salary', normalize=True)['>50K']*100, 1)
lower_education_rich

17.4

#### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [127]:
# I had an issue here where the column name uses the character "-"
'''
min_work_hours = df.hours-per-week.min() # This creates an error.
min_work_hours = df['hours-per-week'].min() # This works.
'''

"\nmin_work_hours = df.hours-per-week.min() # This creates an error.\nmin_work_hours = df['hours-per-week'].min() # This works.\n"

In [129]:
# In the hours-per-week column, find the minimum value
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

#### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [128]:
# This is my initial approach.
# Like earlier, I find this method of filtering too complicated.
min_work_hours = df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]
min_work_hours.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

In [136]:
# Create a filtered dataframe where hours-per-week = 1.
num_min_workers = df[(df['hours-per-week'] == 1)]
num_min_workers.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K

In [137]:
# In the filtered dataframe, with the total count scale to 1, calculate the proportion of people with salary = ">50K".
# Multiply by 100 to get percentage. Then, round() creates an integer.
rich_percentage = round(num_min_workers.value_counts('salary', normalize=True)['>50K']*100)
rich_percentage

10

In [ ]:
# This is my initial solution using only one line.
rich_percentage = round(df[(df['hours-per-week'] == 1)].value_counts('salary', normalize=True)['>50K']*100)
rich_percentage

10

#### What country has the highest percentage of people that earn >50K?

In [133]:
# In the filtered dataframe with salary = ">50k",  count the values for each country in the column native-country.
# Divide this with the count of values for each country in the column native-country from the unfiltered dataframe.
# This gives the percentage of people that earn >50k within each country.
# In the resulting series, obtain the corresponding index name of the max value.
highest_earning_country = (df[df.salary == '>50K'].value_counts('native-country')/df.value_counts('native-country')).idxmax()
highest_earning_country

'Iran'

##### What is that percentage?

In [134]:
# This is mostly the same with the earlier code.
# Instead of obtaining the index name of the max value, I obtained the max value.
# Multiply by 100 to get the percentage, then round to the nearest tenth.
highest_earning_country_percentage = round((df[df.salary == '>50K'].value_counts('native-country')/df.value_counts('native-country')).max()*100, 1)
highest_earning_country_percentage

41.9

#### Identify the most popular occupation for those who earn >50K in India.

In [135]:
# Filter the dataframe with salary = ">50k" and native-country = "India"
# In this filtered dataframe, count the unique values in the occupation column.
# In the resulting series, obtain the corresponding index name of the max value.
top_IN_occupation = df[(df.salary == '>50K') & (df['native-country'] == 'India')].value_counts('occupation').idxmax()
top_IN_occupation

'Prof-specialty'